.container-header {
  @media screen and (min-width: $mobile-s) {
    position: relative;
  }
  @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
  }
}
.header-logo {
  &__black {
    color: var(--black-text-color);
  }
  &__accent {
    color: var(--accent-color);
  }
  @media screen and (min-width: $mobile-s) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 93px;
    line-height: 1.19;
  }
}
// ---------------------------------- Мобильное Меню ----------------------------------
.mob-menu.is-open {
  @media screen and (min-width: $mobile-s) {
    display: none;
  }
}
.mob-menu {
  @media screen and (min-width: $mobile-s) {
    z-index: 1;

    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--white-color);
    padding: 48px 40px;
    width: 100%;
    height: 100vh;
    max-height: 796px;
    &__list {
      margin: 0;
      padding: 0;
    }
    &__link {
      font-weight: 500;
      font-size: 40px;
      line-height: 1.17;
      letter-spacing: 0.02em;
      color: var(--black-text-color);
    }
    &__item + &__item {
      margin-top: 32px;
    }
  }
  @media screen and (min-width: $tablet-min) {
    display: none;
  }
}
.mob-contacts {
  @media screen and (min-width: $mobile-s) {
    // margin-top: 302px;
    margin-bottom: 64px;
    &__list {
      padding: 0;
      margin: 0;
    }
  }
}
.mob-contacts__item {
  @media screen and (min-width: $mobile-s) {
    & + & {
      margin-top: 32px;
    }
  }
}
.mob-contacts__link {
  @media screen and (min-width: $mobile-s) {
    &.mob-tel {
      font-weight: 500;
      font-size: 34px;
      line-height: 1.17;
      letter-spacing: 0.02em;
      color: var(--accent-color);
    }
    &.mob-mail {
      font-weight: 500;
      font-size: 24px;
      line-height: 1.16;
      color: var(--grey-text-color);
    }
  }
}
.mob-social {
  @media screen and (min-width: $mobile-s) {
    & li + li ::before {
      position: absolute;
      left: -10px;
      top: -2px;
      content: '';

      height: 22px;
      border: 1px solid rgba(33, 33, 33, 0.2);
    }
  }

  @media screen and (min-width: $mobile-s) {
    &__list {
      display: flex;
      padding-left: 0;
      margin: -10px;
    }
    &__link {
      color: var(--accent-color);
    }
    &__item {
      position: relative;
      display: inline;
      margin: 10px;
    }
  }
}

.site-nav {
  @media screen and (max-width: $mobile-max) {
    display: none;
  }
}

.menu-button {
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: $mobile-s) {
    z-index: 2;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
    border: none;
    width: 40px;
    height: 40px;
    background-color: var(--white-color);
    & .icon-cross {
      display: block;
    }
    &.is-open .icon-cross {
      display: none;
    }
    &.is-open .icon-menu {
      display: block;
    }
    & .icon-menu {
      display: none;
    }
  }
}

#studio {
  color: var(--accent-color);
}
#portfolio {
  color: var(--accent-color);
}
// ---------------------------------- Планшет Меню ----------------------------------
.site-nav {
  &__list {
    display: flex;
    padding-left: 0px;
    margin: 0px;
  }
  &__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    color: var(--black-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.site-nav__list {
  & .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  &:focus,
  &:hover {
    background-color: var(--white-color);
    color: var(--accent-color);
  }
}
#studio {
  color: var(--accent-color);
  @media screen and (min-width: $tablet-min) {
    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      opacity: 1;
      border-radius: 2px;
    }
  }
}

#portfolio {
  color: var(--accent-color);
  @media screen and (min-width: $tablet-min) {
    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      opacity: 1;
      border-radius: 2px;
    }
  }
}
.contacts {
  @media screen and (max-width: $mobile-max) {
    display: none;
  }
  @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin-left: auto;
    margin: 0;
    & .contacts__item:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    margin-left: auto;
    padding: 0;
    & .contacts__item:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  color: var(--grey-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: var(--accent-color);
    background-color: var(--white-color);
  }
  &:hover .mail,
  &:focus .mail,
  &:hover .telephone,
  &:focus .telephone {
    fill: var(--accent-color);
  }
}

.telephone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--grey-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--grey-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
