.our-advantages__content {
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
@media screen and (max-width: $tablet-max) {
  .our-advantages__list {
    margin: 0;
    padding: 0;
  }
  .our-advantages__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .our-advantages__content {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .our-advantages__list .our-advantages__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .our-advantages__title {
    margin-top: 0;
    text-align: center;
  }
}
.our-advantages__image {
  width: 70px;
  height: 70px;
}
.our-advantages__text {
  margin: 0px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey-text-color);
}
.our-advantages__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-text-color);
}
