.regular-customers__title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-text-color);
  @media screen and (min-width: $mobile-s) {
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 28px;
    line-height: 1.17;
  }
}
.regular-customers__list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  @media screen and (min-width: $tablet-min) {
    margin: -15px;
  }
  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
  }
}

.regular-customers__link,
.regular-customers__image {
  @media screen and (min-width: $mobile-s) {
    display: block;
    width: 100%;
  }
}
.regular-customers__item {
  @media screen and (max-width: $mobile-max) {
    max-width: 210px;
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: $tablet-min) {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
  @media screen and (min-width: $tablet-min) {
  }
}
.container__regular-customers {
  @media screen and (max-width: $mobile-max) {
    padding: 0;
  }
}

.regular-customers__link {
  padding: 0px;
  background-color: var(--white-color);
  border: 1px solid var(--social-color);
  border-radius: 4px;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    border: 1px solid var(--accent-color);
  }
  @media screen and (min-width: $mobile-s) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.regular-customers__image {
  width: 106px;
  height: 60px;
  fill: var(--social-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .regular-customers__link:hover &,
  .regular-customers__link:focus & {
    fill: var(--accent-color);
  }
  margin-left: auto;
  margin-right: auto;
}
