:root {
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --black-text-color: #212121;
  --grey-text-color: #757575;
  --h1-section-and-footer-color: #2f303a;
  --our-team-color: #f5f4fa;
  --footer-contacts-color: #acacb0;
  --nav-button-color: #f5f4fa;
  --button-hover-blue: #188ce8;
  --border-header-color: #ececec;
  --botder-list-text: #eeeeee;
  --social-color: #afb1b8;
  --modal-form-color: rgba(33, 33, 33, 0.2);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

$logo-font: Raleway, sans-serif;
$base-font: Roboto, sans-serif;
